
            body {
                font-family: 'poppins',  sans-serif;
                background-color: rgb(150, 168, 178);
            }

            #container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(117, 82, 82, 0.1);
            }
            h2 {
            text-align: left;
            }

            h4 {
                text-align: left;
                font-weight: 5;
                font-size: small;
                font-style: italic;
            }

            form {
                max-width: 300px;
                margin 0 auto;
                padding: 10px;
                border-radius: 10px;
                box-shadow:none;
            
            }
            
            label {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;

            }

            input[type="text"],
            input[type="password"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 8px;
                border: 2px solid #090101;
                border-radius: 4px;

            }
            input[type="email"]{
                width: 100%;
                padding: 8px;
                margin-bottom: 8px;
                border: 2px solid #090101;
                border-radius: 4px;
            }


            input[type="Sign Up"]:hover{
                background-color: #479292;
            
             }

             button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            }

            button:hover {
             background-color: #45a049;
            }

             .error-message {
                color: red;
                margin-top: 20px;
             }
        