@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
    padding: 0px 50px;
    background-color: #2B3499;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 80px;
}

.logo {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

nav ul {
    width: 65%;
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

nav ul li {
    margin-left: 20px;
    padding-right: 25px;
}

nav ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

.login button {
    color: #000;
    font-size: 13px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 0 2px;
    margin-right: 80px;
    border-radius: 4px;
    border: none;
    
}

.login button:hover {
    color: #ccc;
}

.search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

.search-box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    width: 300px;
    
}

.search-box span {
    color: #2B3499;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    
}

.search-box span:hover {
    color: #ccc;
}

.search-box span::after {
    height: 100%;
    width: 0%;
    content: '';
    background: #2B3499;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

.search_box span:hover::after {
    width: 100%;
}

nav .bars {
    position: relative;
    margin: auto;
    display: none;
}

nav .bars span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

/* responsive navbar */
@media screen and (max-width: 1250px) {
    nav {
        display: block;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    nav .logo {
        display: inline-block;
        padding: 0px 20px;
    }    
    nav .search-box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search-box input {
        width: 90%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
        text-align: center;
        justify-content: center;
        margin: auto;
        align-items: center;
    }
    nav ul li {
        justify-content: center;
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ul li a {
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    nav ul li:nth-child(1) {
        transform: translateX(-150px);
    }
    nav ul li:nth-child(2) {
        transform: translateX(-200px);
    }
    nav ul li:nth-child(3) {
        transform: translateX(-250px);
    }
    nav ul li:nth-child(4) {
        transform: translateX(-300px);
    }
    nav ul li:nth-child(5) {
        transform: translateX(-350px);
    }
    nav .bars {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bars #times {
        display: none;
    }
    #check:checked ~ nav .bars #times {
        display: block;
    }
    #check:checked ~ nav .bars #bars {
        display: none;
    }
    #check:checked ~ nav ul {
        visibility: visible;
        height: 465px;
    }
    #check:checked ~ nav ul li:nth-child(1),
    #check:checked ~ nav ul li:nth-child(2),
    #check:checked ~ nav ul li:nth-child(3),
    #check:checked ~ nav ul li:nth-child(4),
    #check:checked ~ nav ul li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
    nav .login {
        display: inline-block;
        padding: 20px;
        text-align: center;
    }
}

.slideshow-container {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
}

.mySlides {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 0;
    transition: background-color 0.3s ease;
}

.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.mySlides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text {
    position: absolute;
    color: white;
    font-size: 18px;
    z-index: 0;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.text a{
    text-decoration: none;
    color: white;
}

.news-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
}

.main-news-title{
    position:relative;
    margin-bottom: auto;
}

.popular-news-title{
    padding: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.main-news{
    margin: 30px;
    overflow-y: auto;
    max-width: 100%;
    max-height: 50vh;
    margin-right: 10px;
    padding-top: 10px ;
    padding: 10px;
}

.popular-news{
    margin-top: -10px ;
    margin: 5px;
    max-height: 50vh;
    margin-left: 10px;
    padding: 10px;
}

.popular-news-title{
    padding-bottom: 10px;
}

.main {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card h3 a {
    text-decoration: none;
    color: #333;
}

.card p {
    color: #666;
}

.popular {
    margin: 5px;
    max-height: 50vh;
    margin-left: 10px;
    padding: 10px;
    overflow-y: auto;
}

.card-mini {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-mini:hover {
    transform: scale(1.05);
}

.card-mini img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card-mini-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-mini h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.card-mini h3 a {
    color: #333;
    text-decoration: none;
}

.card-mini p {
    color: #666;
    font-size: 12px;
    margin: 0;
}

/* responsive */

@media (max-width: 1000px) {
    .news-container {
        display: block;
    }

    .card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .news-container {
        margin: 2px;
        display: block;
    }

    .main-news {
        padding: 0;
    }

    .main {
        justify-content: space-evenly;
    }

    .popular {
        justify-content: space-evenly;
    }

    .card {
        width: calc(100% - 40px);
        width: 100%;
    }

    .popular {
        padding: 20px;
        max-width: 100%;
        margin: 5px;
    }
}

/* Trending */

.trending {
    padding-left: 30px;
    padding-right: 30px;
}

.trending-container {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.trending-news-title {
    margin-top: 20px;
    padding-left: 10px;
}

.trend {
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.trend p2 {
    font-size: 10px;
    color: #666;
    text-decoration: underline;
}

.trend:hover {
    transform: scale(1.05);
}

.trend img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.trend-content {
    padding: 10px;
}

.trend h3 {
    margin-bottom: 10px;
}

.trend p {
    color: #666;
}

.trend h3 a {
    color: #333;
    text-decoration: none;
}

/* responsive */

@media (max-width: 1000px) {
    .trending-container {
        display: block;
    }

    .trend {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .trending-container {
        margin: 2px;
        display: block;
    }

    .trending {
        padding: 0;
    }

    .trend {
        width: calc(100% - 40px);
        width: 100%;
    }
}

/* Footer */
.footer-container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    font-size: 15px;
    background-color: #2B3499;
    padding: 30px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.footer-col {
    width: 25%; 
    padding: 0 40px;
}

.footer-col h4 {
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #b0acac;
    padding-left: 8px;
}

.social-link {
    size: 9px;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #050505;
    transition: all 0.5s ease;
}

.footer-col .social-link a:hover {
    color: #050505;
    background-color: #b0acac;

}

/* responsive */

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}

/* card  */

main{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin: auto;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 7px 7px 25px 1px rgba(0,0,0,0.06);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 10px;
    background: #ffffff;
}
.card img{
    min-height: 210px;
    max-height: 210px;
    background-color: #f4f4f4;
}
.card h4,
.card div{
    padding: 5px 10px;
    margin: 0px;
}
.publishbyDate{
    display: flex;
    align-items: center;
    color:#a5a1a1;
}
.publishbyDate p{
    margin:0px;
    font-size: 14px;
}
.publishbyDate span{
    padding: 0px 10px;
}
.desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin:0;
    
}
.card a{
    color:inherit;
    text-decoration: none;
}
@media all and (min-width:700px) {
    main{
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card h4,
.card div{
    padding: 5px 15px;
}
}